@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization;
@using BlazorApp.Shared.Components

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<span class="top-row px-4">
			<AuthorizeView>
				<NotAuthorized>
					<span class="unauthorized">Not Authorised</span>
				</NotAuthorized>
			</AuthorizeView>

			<BlazorApp.Shared.Security.Login />
		</span>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

@code{

}