@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<ul>
	<AuthorizeView>
		<Authorized>
			<li>Hi @_userName, you have these claims and rights:</li>
		</Authorized>
	</AuthorizeView>

	<AuthorizeView Roles="User">
		<li>You have the role USER</li>
	</AuthorizeView>

	<AuthorizeView Roles="Admin">
		<li>You have the role ADMIN</li>
	</AuthorizeView>

	<AuthorizeView Roles="Author">
		<li>You are a AUTHOR</li>
	</AuthorizeView>
</ul>

@code
{
	bool _isAuthenticated;
	string? _userName;


	protected override async Task OnParametersSetAsync()
	{
		var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_isAuthenticated = state.User.Identity!.IsAuthenticated;
		_userName = state.User.Identity?.Name!;
	}
}