@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (_isAuthenticated)
{
	<h1>Welcome @_userName</h1>
}
@if (!_isAuthenticated)
{
	<h1>Please log in!</h1>
}
<AuthorizeView>
	<Authorized>
		<p>State: Authorized</p>
	</Authorized>
	<Authorizing>
		<p>State: Authorizing</p>
	</Authorizing>
	<NotAuthorized>
		<p>State: Not authorized</p>
	</NotAuthorized>
</AuthorizeView>
@code
{
	bool _isAuthenticated;
	string? _userName;

	protected override async Task OnParametersSetAsync()
	{
		var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_isAuthenticated = state.User.Identity!.IsAuthenticated;
		_userName = state.User.Identity.Name!;    
	}
}