@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
	<Authorized>
		<p>Welcome @_userName</p>
	</Authorized>
	<Authorizing>
		<p>State: Authorizing</p>
	</Authorizing>
	<NotAuthorized>
		<p>Please log in!</p>
	</NotAuthorized>
</AuthorizeView>
@code
{
	bool _isAuthenticated;
	string? _userName;

	protected override async Task OnParametersSetAsync()
	{
		var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_isAuthenticated = state.User.Identity!.IsAuthenticated;
		_userName = state.User.Identity?.Name!;
	}
}