@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
	<Authorized>
		<span class="authorized">Welcome @_userName</span>
	</Authorized>
	<Authorizing>
		<spam class="authorized">State: Authorizing</spam>
	</Authorizing>
	<NotAuthorized>
		<span class="umauthorized">Please log in!</span>
	</NotAuthorized>
</AuthorizeView>
@code
{
	bool _isAuthenticated;
	string? _userName;

	protected override async Task OnParametersSetAsync()
	{
		var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_isAuthenticated = state.User.Identity!.IsAuthenticated;
		_userName = state.User.Identity?.Name!;
	}
}